[submodule "OOP_Lab1"]
	path = OOP_Lab1
	url = https://github.com/d-asv-b/OOP_Lab1
[submodule "OOP_Lab2"]
	path = OOP_Lab2
	url = https://github.com/d-asv-b/OOP_Lab2
[submodule "OOP_Lab3"]
	path = OOP_Lab3
	url = https://github.com/d-asv-b/OOP_Lab3
[submodule "OOP_Lab4"]
	path = OOP_Lab4
	url = https://github.com/d-asv-b/OOP_Lab4
[submodule "OOP_Lab5"]
	path = OOP_Lab5
	url = https://github.com/d-asv-b/OOP_Lab5
[submodule "OOP_Lab6"]
	path = OOP_Lab6
	url = https://github.com/d-asv-b/OOP_Lab6
